.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999; }

.navbar_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px; }

#navbar_logo {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem; }

.navbar_menu {
  display: flex;
  align-items: center;
  list-style: none; }

.navbar_item {
  height: 80px; }

.navbar_links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease; }

.navbar_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%; }

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  color: #fff;
  transition: all 0.3s ease; }

.navbar_links:hover {
  color: #9518fc;
  transition: all 0.3s ease; }

.hero {
  background: #000000;
  background: linear-gradient(to right, #161616, #000000);
  padding: 150px 0; }

.hero_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  height: 90%;
  text-align: center;
  padding: 30px; }
  .hero_container .hero_heading {
    font-size: 100px;
    margin-bottom: 24px;
    color: #fff; }
    .hero_container .hero_heading span {
      background: linear-gradient(to right, #ff6a00, #ee0979);
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -mo-text-fill-color: transparent; }
  .hero_container .hero-description {
    font-size: 60px;
    background: #da22ff;
    background: -webkit-linear-gradient(to right, #9114ff, #da22ff);
    background: linear-gradient(to right, #8f0eff, #da22ff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; }

.main {
  background-color: #131313;
  padding: 10rem 0; }

.main_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px; }

.main_content {
  color: #fff;
  width: 100%; }
  .main_content h1 {
    font-size: 2rem;
    background-color: #fe3b6f;
    background: linear-gradient(to top, #ff087b 0%, #ed1a52 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 32px; }
  .main_content h2 {
    font-size: 4rem;
    background: #ff8177;
    background: -webkit-linear-gradient(to right, #9114ff, #da22ff);
    background: linear-gradient(to right, #8f0eff, #da22ff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; }
  .main_content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700; }

.main_img_container {
  text-align: center; }

.main_img_card {
  margin: 10px;
  height: 500px;
  width: 500px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%); }

.fa-layer-group,
.fa-users {
  font-size: 14rem; }

#card-2 {
  background: #ff512f;
  background: -webkit-linear-gradient(to right, #dd2476, #ff512f);
  background: linear-gradient(to right, #dd2476, #ff512f); }

.services {
  background: #131313;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10rem 0; }
  .services h1 {
    background-color: #ff8177;
    background-image: linear-gradient(to right, #ff0844 0%, #f7673c 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    font-size: 2.5rem; }
  .services .services_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr; }
    .services .services_wrapper .services_card {
      margin: 10px;
      height: 425px;
      width: 300px;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #fff;
      background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
      transition: 0.3s ease-in; }
      .services .services_wrapper .services_card:hover {
        transform: scale(1.075);
        transition: 0.3s ease-in;
        cursor: pointer; }
      .services .services_wrapper .services_card h2 {
        text-align: center; }
      .services .services_wrapper .services_card p {
        text-align: center;
        margin-top: 24px;
        font-size: 20px; }
      .services .services_wrapper .services_card .services_btn {
        display: flex;
        justify-content: center;
        margin-top: 16px; }
        .services .services_wrapper .services_card .services_btn button {
          color: #fff;
          padding: 14px 24px;
          border: none;
          outline: none;
          border-radius: 4px;
          background: #131313;
          font-size: 1rem; }
          .services .services_wrapper .services_card .services_btn button:hover {
            cursor: pointer; }

.footer_container {
  background-color: #131313;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .footer_container .footer_links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center; }
    .footer_container .footer_links .footer_link_wrapper {
      display: flex; }
      .footer_container .footer_links .footer_link_wrapper .footer_link_items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 16px;
        text-align: left;
        width: 160px;
        box-sizing: border-box; }
        .footer_container .footer_links .footer_link_wrapper .footer_link_items h2 {
          margin-bottom: 16px;
          color: #fff; }
        .footer_container .footer_links .footer_link_wrapper .footer_link_items a {
          color: #fff;
          text-decoration: none;
          margin-bottom: 0.5rem;
          transition: 0.3 ease-out; }
          .footer_container .footer_links .footer_link_wrapper .footer_link_items a:hover {
            color: #e9e9e9;
            transition: 0.3 ease-out; }
  .footer_container .social_media {
    max-width: 1000px;
    width: 100%; }
  .footer_container .social_media_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto; }
    .footer_container .social_media_wrap #footer_logo {
      color: #fff;
      display: flex;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      font-size: 2rem; }
    .footer_container .social_media_wrap .website_rights {
      color: #fff; }
    .footer_container .social_media_wrap .social_icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 240px; }
      .footer_container .social_media_wrap .social_icons .social_icon_link {
        color: #fff;
        font-size: 24px; }

.main_btn {
  font-size: 1.8rem;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  padding: 20px 60px;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none; }
  .main_btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none; }
  .main_btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff1ead;
    transition: all 0.35s;
    border-radius: 4px; }
  .main_btn:hover {
    color: #fff; }
  .main_btn:hover:after {
    width: 100%; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth; }

@media screen and (max-width: 1024px) {
  .navbar_container {
    padding: 0; }

  .hero {
    padding: 80px 0; }
    .hero .hero_container .hero_heading {
      font-size: 90px;
      margin-bottom: 19px; }
    .hero .hero_container .hero-description {
      font-size: 50px; }

  .main {
    padding: 7rem 0; }
    .main .main_content {
      margin: auto;
      padding: 10px; }
      .main .main_content h1 {
        margin-bottom: 28px; }
      .main .main_content p {
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: 700; }
    .main .main_img_container {
      text-align: center; }
    .main .main_img_card {
      height: 450px;
      width: 450px; }
    .main .fa-layer-group,
    .main .fa-users {
      font-size: 12rem; }
    .main .main_btn {
      font-size: 1.5rem;
      padding: 18px 40px;
      margin-top: 1.3rem; }

  .services {
    padding: 7rem 0; }
    .services .services_wrapper .services_card {
      margin: 10px;
      height: 300px;
      width: 230px; }
      .services .services_wrapper .services_card p {
        font-size: 19px; }
      .services .services_wrapper .services_card .services_btn {
        margin-top: 22px; }
        .services .services_wrapper .services_card .services_btn button {
          padding: 14px 20px;
          font-size: 0.9rem; } }
@media screen and (max-width: 768px) {
  .hero {
    padding: 40px 0; }
    .hero .hero_container .hero_heading {
      font-size: 70px;
      margin-bottom: 19px; }

  .main {
    padding: 4rem 0; }
    .main .main_content {
      padding: 10px; }
      .main .main_content h1 {
        font-size: 1rem;
        margin-bottom: 15px; }
      .main .main_content h2 {
        font-size: 2.8rem; }
      .main .main_content p {
        font-size: 1.2rem; }
    .main .main_img_card {
      height: 350px;
      width: 300px; }
    .main .fa-layer-group,
    .main .fa-users {
      font-size: 10rem; }
    .main .main_btn {
      font-size: 1.5rem;
      padding: 17px 35px;
      margin-top: 1.3rem; }

  .services {
    padding: 5rem 0; }
    .services .services_wrapper {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr; }
      .services .services_wrapper .services_card {
        margin: 10px;
        height: 325px;
        width: 300px; } }
@media screen and (max-width: 720px) {
  .navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0; }

  .navbar_menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1; }

  .navbar_menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem; }

  #navbar_logo {
    padding-left: 25px; }

  .navbar_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff; }

  .navbar_item {
    width: 100%; }

  .navbar_links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table; }

  .navbar_btn {
    padding-bottom: 2rem; }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80px;
    margin: 0; }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%); }

  .navbar_toggle .bar {
    display: block;
    cursor: pointer; }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0; }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg); }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg); } }
@media screen and (max-width: 425px) {
  .hero {
    padding: 30px 0; }
    .hero .hero_container .hero_heading {
      font-size: 50px; }
    .hero .hero_container .hero-description {
      font-size: 40px; }

  .main {
    padding: 3rem 0; }
    .main .main_container {
      display: grid;
      grid-template-columns: 1fr; }
    .main .main_content {
      text-align: center; }
      .main .main_content h1 {
        margin-bottom: 15px;
        margin-top: 20px; }

  .services {
    padding: 4rem 0; }
    .services .services_wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr; }
      .services .services_wrapper .services_card {
        margin: 10px;
        height: 325px;
        width: 300px; }

  .footer_container {
    padding: 3rem 0; }
    .footer_container .footer_links {
      flex-direction: column;
      padding: 20px; }
    .footer_container .social_media_wrap {
      display: flex;
      flex-direction: column;
      margin: 20px auto 0 auto; }
      .footer_container .social_media_wrap #footer_logo {
        margin-bottom: 1.5rem; }
      .footer_container .social_media_wrap .website_rights {
        margin-bottom: 1.5rem; }
      .footer_container .social_media_wrap .social_icons {
        margin-bottom: 1.5rem; } }

/*# sourceMappingURL=style.css.map */
